h1{
  padding: 1rem 0rem .5rem 0rem;
}

h2{
  text-align: center;
}

.card{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.list-group{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#sort-buttons {
  padding: 0px 0px 15px 25px;
}

.sort-button {
  width: 120px;
}

#filter-menu {
  padding-left: 120px;
}
